@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap')
// CSS Variables
//Primary Colors
$pink: hsl(322, 100%, 66%)

//Neutral Colors
$very-pale-cyan: hsl(193, 100%, 96%)
$very-dark-cyan: hsl(192, 100%, 9%)
$grayish-blue: hsl(208, 11%, 55%)

//Heading Fonts
$poppins: 'Poppins', sans-serif

//Body, Call-to-action Fonts
$open-sans: 'Open Sans', sans-serif

//--------------------------------//
h1
  font-family: $poppins
  font-weight: 600

.body
  font-size: 18px
  font-family: $open-sans

.top-container
  background: $very-pale-cyan url("../images/bg-hero-desktop.svg") no-repeat fixed

.top-left-column
  h1
    line-height: 1.5

  p
    font-size: 1rem
    color: $very-dark-cyan

.top-right-column
  img
    height: 25rem
    width: auto

.middle-page-col
  -webkit-box-shadow: 0 0 14px 4px rgba(0,0,0,0.06)
  -moz-box-shadow: 0 0 14px 4px rgba(0,0,0,0.06)
  box-shadow: 0 0 14px 4px rgba(0,0,0,0.06)
  padding: 3rem
  margin: 2rem
  border-radius: 0.8rem